@using BlogManagment.Application.Contracts.Blog;
@model List<BlogViewModel>

<!-- feature section -->
@*<section class="feature_section layout_padding">
    <div class="container">
        <div class="heading_container">
            <h2>
                آخرین مقالات
            </h2>
            <hr>
        </div>
        <div class="carousel-wrap layout_padding2 ">
            <div class="owl-carousel owl-one">
                @foreach (var blog in Model)
                {
                    <a asp-page="./BlogDetails" asp-route-id="@blog.Id">
                        <div class="item">
                            <div class="content">
                                <div class="top-content">
                                    <div class="img-box">
                                        <img src="@blog.Picture" />
                                    </div>
                                    <div class="img-text">
                                        <h6 class="price">
                                            $80000.00
                                        </h6>
                                        <h6>
                                            $70000.00
                                        </h6>
                                    </div>
                                </div>
                                <div class="bottom-content">
                                    <h5>
                                        @blog.Title
                                    </h5>
                                    <p>
                                        @blog.Description
                                    </p>
                                </div>
                            </div>
                        </div>
                    </a>
                }
            </div>
        </div>
        <div class="car_section">
            <div class="d-flex justify-content-center">
                <a asp-page="./Blogs" class="see_more-btn">
                    مطالعه تمام مقالات
                </a>
            </div>
        </div>
    </div>
</section>*@
<!-- feature section -->
<section class="car_groups_section layout_padding">
    <div class="container">
        <div class="heading_container">
            <h2>آخرین مقالات</h2>
            <hr>
        </div>
        <div class="layout_padding">
            <div class="row">
                @foreach (var blog in Model)
                {
                    <div class="col-md-6 col-lg-4 mb-4">
                        <div class="card h-100 car_card">
                            <div class="card_image">
                                <img src="@blog.Picture" class="card-img-top" alt="">
                            </div>
                            <div class="card-body d-flex flex-column">
                                <h5 class="card-title">@blog.Title</h5>
                                <p class="card-text">@blog.ShortDescription</p>
                                <div class="mt-auto text-center">
                                    <a asp-page="./BlogDetails" asp-route-id="@blog.Id" class="btn btn-secondary w-100">مطالعه مقاله</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="mt-auto text-center">
                <a href="/Blogs" class="btn btn-secondary w-25">مطالعه تمام مقالات</a>
            </div>
        </div>
    </div>
</section>
<hr />