@page
@model CarAnalysis.Pages.BlogDetailsModel
@{
    ViewData["Title"] = $"مقالات | {Model.Blog.Title}";
}

<section class="layout_padding blog_section">
    <div class="container">
        <div class="heading_container">
            <h2>@Model.Blog.Title</h2>
            <hr>
        </div>
        <div class="blog_details">
            <img src="@Model.Blog.Picture" alt="@Model.Blog.PictureAlt" class="blog_image">
            <div class="blog_meta">
                <span class="author"><i class="fas fa-user"></i> @Model.Blog.Writer</span>
                <span class="date"><i class="fas fa-calendar-alt"></i> @Model.Blog.PublishDate</span>
            </div>
            <div class="blog_content">
                <p>@Model.Blog.Description</p>
            </div>
        </div>
    </div>
</section>

<section class="comments_section">
    <div class="container">
        <div class="heading_container">
            <h2>کامنت ها</h2>
            <hr>
        </div>
        <div class="comment_form">
            <h3>کامنت بگذارید</h3>
            <form method="post">
                <div class="form_group">
                    <label for="Name">نام :</label>
                    <input type="text" id="Name" name="Name" required>
                </div>
                <div class="form_group">
                    <label for="Message">ایمیل :</label>
                    <input type="email" id="Message" name="Message" required>
                </div>
                <div class="form_group">
                    <label for="Email">پیام :</label>
                    <textarea type="email" id="Email" name="Email" required></textarea>
                </div>
                <input type="hidden" name="ParentId" id="ParentId" value="@Model.Blog.Id" />
                <button type="submit" class="btn btn-primary">ارسال</button>
            </form>
        </div>
        <div class="comments_list">
            @foreach (var comment in Model.Comments)
            {
                <div class="comment">
                    <h4>کاربر : @comment.Name</h4>
                    <p class="comment_email">ایمیل : @comment.Email</p>
                    <p>پیام : @comment.Message</p>
                    <hr>
                </div>
            }
        </div>
    </div>
</section>
